<!-- posting.ejs -->

<!DOCTYPE html>
<html>
    <head>
        <title>Posting</title>
    </head>
    <body>



        <% include menu.ejs %>
        <div>
        <div>
        <h2>&nbsp; Corner</h2>
        <form action="/posting" method="post" class="col-sm-4">
            <input name="header" type="text" class="form-control" placeholder="Heading" required autofocus>
            <input list="categories" name="category" type="text" class="form-control" placeholder="Category" required>
            <datalist id="categories">
                <option value="Textbook"></option>
                <option value="Furniture"></option>
                <option value="Talent"></option>
                <option value="Other"></option>
            </datalist>
            <input name="subcategories" type="text" class="form-control" placeholder="Type">
            <textarea name="textbody" rows="9" class="form-control" placeholder="Please describe"></textarea>
            <input type="submit" value="Post">
        </form>
        
        <!---<a href="login">logout</a> --->    <!---removed, redundant with Account > Log Out -->
        </div>

        <div style="display: inline-block">
        <h2>Entries</h2>
        <% postings.forEach(function(post){ %>
            <div>
                <h3><%= post.header %></h3>
                <p><%= post.category %></p>
                <% post.subcategories.forEach(function(subcategory){ %>
                    <p><% subcategory %></p>
                <% }); %>
                <p><%= post.textbody %></p>
                <p><%= post.createdAt.toLocaleDateString() + ' ' + post.createdAt.toLocaleTimeString() %></p>
            </div>
        <% }); %>
        </div>
        </div>
    </body>
</html>