<!--inbox.html-->
<head>
    <title>Bronco Corner - Inbox</title>

    <!-- Bootstrap Core CSS -->
    <link href="style/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="style/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="style/vendor/device-mockups/device-mockups.min.css">

    <!-- Theme CSS -->
    <link href="style/css/new-age-light.css" rel="stylesheet">
</head>


<header style="position:fixed; left:0%;"></header>
<div ng-controller="hubController" style="position:relative;">
	<div class="clearfix">
        <!-- TODO: filter out posts -->
		<div id="post-stream">
            <div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div>
			<h4><b style="color:#FCC448">Private Inbox</b></h4>

			<form>
				<div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div>
				<input type="text" class="form-control" ng-model="outline.header" placeholder="Header" />
				<input type="text" class="form-control" ng-model="outline.recipient" placeholder="Recipient" />
				<textarea class="form-control" maxlength="200" rows="3" ng-model="outline.textbody" placeholder="Message"></textarea>
				<button class="btn submit-btn pull-right" ng-click="sendMessage()">Send</button>
			</form>
			<div class="post" ng-repeat="message in messages | orderBy: '-_id'" ng-class-odd="'odd'" ng-class-even="'even'"> 
				<div>&nbsp;</div><div>&nbsp;</div>
				<!-- color message depending on whether it is sent or recieved? -->
				<div><p>{{message.header}}</p></div>
				<div><small>{{message.sender.first}} {{message.sender.last}}</small></div>
				<div><h4>{{message.textbody}}</h4></div>
				<button class="btn btn-submit pull-right" ng-click="respondMessage(message)">
					message {{message.sender.first}} {{message.sender.last}}
				</button>
				<small class="pull-left">{{message.createdAt | date:"h:mma 'on' MMM d, y"}}</small>
				<div>&nbsp;</div>
			</div>
		</div>
	</div>
</div>
