
<!--profile.html-->
<head>
    <title>Bronco Corner - Posthub</title>

    <!-- Bootstrap Core CSS -->
    <link href="style/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="style/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="style/vendor/device-mockups/device-mockups.min.css">

    <!-- Theme CSS -->
    <link href="style/css/new-age-light.css" rel="stylesheet">
	<link rel="stylesheet" href="stylesheets/style.css">
</head>


<header style="position:fixed; left:0%;"></header>
<div ng-controller="hubController" style="position:relative;">
	<div class="clearfix">
        <!-- TODO: filter out posts -->
		<div id="post-stream">
			<div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div>
			<h4><b style="color:#FCC448">Look for listings on campus</b></h4>
			<div>&nbsp;</div><div>&nbsp;</div>
            <input type="text" placeholder="Search posts..." ng-model="search" class="form-control"><div>&nbsp;</div><div>&nbsp;</div>
			<div class="post" ng-repeat="posting in postings | orderBy: '-_id' | filter:search" ng-class-odd="'odd'" ng-class-even="'even'"> 
				<div><p>{{posting.header}}</p><div>
				<div><h4>{{posting.category}}</h4><div>
				<div><span>{{posting.textbody}}</span><div>
				<button class="btn btn-submit pull-right" ng-click="beginMessage(posting)">
					message {{posting.createdBy.first}} {{posting.createdBy.last}}
				</button>				
				<span class="pull-left">{{posting.createdAt | date:"h:mma 'on' MMM d, y"}}</span>
				<div>&nbsp;</div><div>&nbsp;</div>
			</div>
		</div>
	</div>
</div>
