<!--register.html-->
<head>
    <title>Bronco Corner - Inbox</title>

    <!-- Bootstrap Core CSS -->
    <link href="style/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="style/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="style/vendor/device-mockups/device-mockups.min.css">

    <!-- Theme CSS -->
    <link href="style/css/new-age.css" rel="stylesheet">
</head>


<header style="position:fixed; left:0%;"></header>
<div ng-controller="authController" style="position:relative;">
  <div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div>
  <form class="form-auth">
    <p class="text-warning">{{error_message}}</p>
    <input type="text" ng-model="profile.first" placeholder="First Name" class="form-control"><br>
    <input type="text" ng-model="profile.last" placeholder="Last Name" class="form-control"><br>
    <input type="email" ng-model="profile.email" placeholder="Email (@cpp.edu only!)" class="form-control"><br>
    <input type="text" ng-model="profile.major" placeholder="Major" class="form-control"><br>
    <input type="text" ng-model="profile.interests" placeholder="Interests" class="form-control"><br>
    <input type="text" ng-model="profile.dating" placeholder="Dating status" class="form-control"><br>
    <input type="password" ng-model="profile.password" placeholder="Password" class="form-control"><br>
    <input type="password" ng-model="profile.confirm" placeholder="Confirm" class="form-control"><br>
    <button class="btn btn-primary" ng-click="register()">Register</button>
  </form>
</div>
